<h1 class="mb-5 mt-2 mt-md-0">Доходы</h1>
<div class="card-box d-flex flex-wrap gap-4"></div>

<figure id="modal" class="modal justify-content-center align-items-center w-100 h-100">
  <div class="p-4 rounded d-flex flex-column align-items-center gap-3 bg-light">
    <div class="modal-text p-0 m-0 text-center">
      <p class="p-0 m-0 fw-bold">Вы действительно хотите удалить категорию?</p>
      <p class="p-0 m-0 fw-bold">Связанные доходы будут удалены навсегда.</p>
    </div>
    <div class="modal-action d-flex gap-2">
      <button id="btnRemove" class="btn btn-success">Да, удалить</button>
      <button id="btnCancel" class="btn btn-danger">Не удалять</button>
    </div>
  </div>
</figure>