<h1 class="mb-5 mt-2 mt-md-0">Редактирование категории расходов</h1>
<div class="card-box d-flex flex-wrap gap-4">
  <div class="card border-0">
    <div class="card-body p-0 flex-grow-1">
      <fieldset class="input-group mb-3">
        <input id="inputCategoryName" type="text" class="form-control" placeholder="Название..." value="">
        <p id="inputCategoryNameFeedback" class="invalid-feedback m-0">Введите название категории"</p>
      </fieldset>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <button id="categorySave" class="btn btn-success">Сохранить</button>
        <button id="categorySaveBack" class="btn btn-danger">Отмена</button>
      </div>
    </div>
  </div>
</div>