@import "../common.css";

.btn-main {
  max-width: 100px;
  border: 1px solid rgb(108, 117, 125);
  border-radius: 4px;
}

.input-wrap {
  max-width: 160px;
}

table thead tr th:first-child {
  width: 125px;
}

table thead tr th:nth-child(6) {
  min-width: 230px;
  width: auto;
}

table thead tr th:last-child {
  width: 60px;
}